<!-- start custom head snippets -->

<!-- insert favicons. use http://realfavicongenerator.net/ -->
<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
<link rel="icon" type="image/svg+xml" href="/assets/images/logo_default.svg">
<link rel="alternate icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
<link rel="alternate icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
<link rel="manifest" href="/assets/images/site.webmanifest">
<link rel="mask-icon" href="/assets/images/safari-pinned-tab.svg" color="#b4befe">
<meta name="msapplication-TileColor" content="#1e1e2e">
<meta name="theme-color" content="#1e1e2e">

<!-- end custom head snippets -->
