
/* Disable line number (lineno) / shell session prompt (gp) selection */
.highlight .lineno {-webkit-user-select: none;-moz-user-select: none; -o-user-select: none;}
.lineno::-moz-selection {background-color: transparent;} /* Mozilla specific */
.lineno::selection {background-color: transparent;} /* Other major browsers */
.highlight .gp {-webkit-user-select: none;-moz-user-select: none; -o-user-select: none;}
.gp::-moz-selection {background-color: transparent;} /* Mozilla specific */
.gp::selection {background-color: transparent;} /* Other major browsers */

.page__lead {
  font-family: $global-font-family;
  font-size: $type-size-5;
}

blockquote {
  @include notice($code-background-color);
}

.page__content {
  p,li,dl {
    font-size: $type-size-6;
  }
}


.page__content {
  code {
    font-size: $type-size-6;
    line-height: 1;
  }
}

/*
div.highlighter-rouge {
  font-size: $type-size-6;
}
*/
