
/* Disable line number (lineno) / shell session prompt (gp) selection */
.highlight .lineno {-webkit-user-select: none;-moz-user-select: none; -o-user-select: none;}
.lineno::-moz-selection {background-color: transparent;} /* Mozilla specific */
.lineno::selection {background-color: transparent;} /* Other major browsers */
.highlight .gp {-webkit-user-select: none;-moz-user-select: none; -o-user-select: none;}
.gp::-moz-selection {background-color: transparent;} /* Mozilla specific */
.gp::selection {background-color: transparent;} /* Other major browsers */

.page__lead {
  font-family: $global-font-family;
  font-size: $type-size-4;
}

blockquote {
  @include notice($light-gray);
}

.page__content {
  p,
  li,
  dl {
    font-size: $type-size-5;
    line-height: 1.65;
  }

  code {
    font-size: 0.9em;
  }
}

div.highlighter-rouge {
  border: 1px solid $border-color;
  border-radius: $border-radius;
  line-height: 1;
  overflow: hidden;
}

.archive__item-caption,
.page__hero-caption {
  color: $text-color;
  background: $footer-background-color;

  a {
    color: $text-color;
  }
}

.taxonomy__index {
  a {
    &:hover {
      color: $background-color;
      background-color: $primary-color;

      &::before,
      &::after {
        background-color: $background-color;
      }
    }
  }

  input:checked + label {
    color: $background-color;
    background-color: $primary-color;

    &::before,
    &::after {
      background-color: $background-color;
    }
  }
}

.screen-reader-text:focus,
.screen-reader-shortcut:focus {
  background: $background-color;
  box-shadow: 0 0 2px 2px rgba($primary-color, 0.6);
  color: $text-color;
}

.well {
  background-color: $form-background-color;
  border-color: $border-color;
  box-shadow: inset 0 1px 1px rgba($background-color, 0.05);
}

pre.highlight .clipboard-copy-button {
  color: $primary-color;
}

@media (max-width: 600px) {
  .archive__item-excerpt {
    font-size: $type-size-5;
    line-height: 1.5;
  }
}
